@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Shrikhand", cursive;
  margin: 0;
}

/* Variables */
/* mixins */
/* Animations */
@keyframes check-spin {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0);
  }
}
@keyframes menuappears {
  0% {
    opacity: 0;
  }
  30% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* Animation loading */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: #f3f3f3;
  opacity: 0.8;
  height: 100vh;
  inset: 0;
  z-index: 1;
  animation: load 600ms 3s both ease-in-out;
  transform-origin: bottom;
}
.loading i {
  animation: spin 3s ease-in-out;
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes load {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(360deg);
  }
  66% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* HEADER */
header {
  text-align: center;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  padding: 0.1rem;
  font-size: 16px;
  margin: 0;
  position: relative;
  padding-block-start: 1rem;
  padding-block-end: 0.5rem;
}
header h1 {
  margin: 0;
}
@media (min-width: 1000px) {
  header {
    font-size: 30px;
  }
}

/* Point restaurant Paris */
.paris {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #f3f3f3;
  text-align: center;
  padding: 1.2rem;
  font-size: 0.5cm;
  font-weight: 600;
}
.paris i {
  font-size: 1.3rem;
}

/* Restaurant explorer */
.restaurantexplorer {
  text-align: center;
  background-color: #fafafa;
  padding: 1rem;
}
.restaurantexplorer h2 {
  margin-top: 2rem;
  font-size: 1.7rem;
}
.restaurantexplorer p {
  font-size: 1.3rem;
  font-weight: lighter;
  margin-bottom: 1.5rem;
}
.restaurantexplorer button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  transition: all 150ms ease-in-out;
  color: white;
  font-weight: normal;
  font-size: medium;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin-bottom: 3rem;
}
.restaurantexplorer button:hover {
  opacity: 0.9;
  box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.28);
  transform: scale(1.1);
}

/* Fonctionnement */
.fonctionnement {
  max-width: 1440px;
  margin: auto;
  counter-reset: tuto;
  padding: 0 1rem;
  padding-bottom: 1rem;
}
.fonctionnement h2 {
  margin-top: 3rem;
}
.fonctionnement ol {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 10px;
}
@media (min-width: 1000px) {
  .fonctionnement ol {
    flex-direction: row;
  }
}
.fonctionnement li {
  position: relative;
  background-color: #f3f3f3;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1rem;
  list-style-type: none;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  transition: all 150ms ease-in-out;
}
.fonctionnement li:hover {
  opacity: 0.9;
  box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.28);
  background-color: #e4d5f6;
}
.fonctionnement li i.fa-solid {
  color: grey;
  margin-right: 1rem;
}
.fonctionnement li::before {
  content: counter(tuto);
  counter-increment: tuto;
  display: grid;
  place-items: center;
  position: absolute;
  left: -12px;
  color: #fff;
  background-color: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}

/* Restaurants */
h3, p {
  margin: 0;
}

.restaurants {
  background-color: #f3f3f3;
  padding: 0 1rem;
  padding-bottom: 4rem;
}
.restaurants__global {
  margin: auto;
  max-width: 1440px;
}
.restaurants h2 {
  padding-top: 3rem;
}
.restaurants__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
@media (min-width: 1000px) {
  .restaurants__cards {
    gap: 3rem;
  }
}
.restaurants__cards .new {
  position: relative;
}
.restaurants__cards .new::before {
  content: "Nouveau";
  display: grid;
  place-items: center;
  position: absolute;
  height: 2.2rem;
  width: 5rem;
  background-color: #99e2d0;
  color: #1b6150;
  right: 1rem;
  top: 1rem;
}
.restaurants .card {
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  transition: all 150ms ease-in-out;
  flex-grow: 1;
  flex-direction: column;
  width: 100%;
  border-radius: 1rem;
  background-color: white;
}
@media (min-width: 1000px) {
  .restaurants .card {
    flex-direction: row;
    flex-grow: 1;
    width: 45%;
  }
}
.restaurants .card:hover {
  opacity: 0.9;
  box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.28);
}
.restaurants .card__img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurants .card__description {
  position: relative;
}
.restaurants .card__description h3 {
  padding-top: 0.6rem;
  padding-left: 0.5rem;
}
.restaurants .card__description p {
  margin-top: 0.4rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.restaurants .card__description .coeur {
  position: absolute;
  font-size: 2rem;
  right: 1rem;
  top: 30%;
}
.restaurants .card__description .fa-solid {
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: all 150ms ease-in-out;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.restaurants .card__description .fa-solid:hover {
  opacity: 1;
  transform: scale(1.1);
}

/* Footer */
footer {
  background-color: #343434;
  color: white;
}
footer .footer {
  max-width: 1440px;
  margin: auto;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1000px) {
  footer .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
footer .footer h1 {
  margin: 0;
  font-size: 1.3rem;
  font-weight: lighter;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
footer .footer a {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
footer .footer .fa-utensils {
  padding-right: 0.8rem;
}
footer .footer .fa-handshake-angle {
  padding-right: 0.4rem;
}

/* Pages Menus */
.headerarrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.headerarrow a {
  transition: all 150ms ease-in-out;
  position: absolute;
  left: 3%;
  font-size: large;
}
.headerarrow a:hover {
  transform: scale(1.1);
}
@media (min-width: 1000px) {
  .headerarrow a {
    left: 5%;
    font-size: 2rem;
  }
}

.banniere img {
  max-width: 100%;
  width: 100%;
  max-height: 32rem;
  object-fit: cover;
}

.menus {
  border-radius: 2rem 2rem 0 0;
  margin-top: -4rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f3f3;
  position: relative;
  max-width: 1440px;
}
.menus__titrerestaurant {
  position: relative;
  margin-bottom: 2rem;
}
.menus__titrerestaurant h1 {
  font-size: 1.7em;
  padding-top: 2rem;
  margin-left: 1rem;
  font-weight: lighter;
}
.menus__titrerestaurant .coeur {
  position: absolute;
  font-size: 2rem;
  right: 2rem;
  top: 50%;
  cursor: pointer;
}
.menus__titrerestaurant .fa-solid {
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: all 150ms ease-in-out;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
.menus__titrerestaurant .fa-solid:hover {
  opacity: 1;
  transform: scale(1.1);
}
.menus .menu {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 1000px) {
  .menus .menu {
    flex-direction: row;
  }
}
.menus .menu__list {
  width: 100%;
  overflow: hidden;
  padding: 0 0.7rem;
  margin-bottom: 2rem;
}
.menus .menu__list .time1 {
  animation-delay: 0ms;
}
.menus .menu__list .time2 {
  animation-delay: 100ms;
}
.menus .menu__list .time3 {
  animation-delay: 200ms;
}
.menus .menu__list .time4 {
  animation-delay: 300ms;
}
.menus .menu__list .time5 {
  animation-delay: 400ms;
}
.menus .menu__list .time6 {
  animation-delay: 500ms;
}
.menus .menu__list .time7 {
  animation-delay: 600ms;
}
.menus .menu__list .time8 {
  animation-delay: 700ms;
}
.menus .menu__list .time9 {
  animation-delay: 800ms;
}
.menus .menu__list .time10 {
  animation-delay: 900ms;
}
.menus .menu__list h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: normal;
  text-transform: uppercase;
  position: relative;
}
.menus .menu__list h2::after {
  content: "";
  position: absolute;
  height: 0.25rem;
  width: 3.8rem;
  background-color: #99e2d0;
  top: 2.1rem;
  left: 0.1rem;
}
.menus .menu__list--item {
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  display: flex;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  cursor: pointer;
  animation: menuappears 1000ms both cubic-bezier(0.45, 1.57, 0.35, 0.85);
}
.menus .menu__list--item .menudescription {
  margin: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menus .menu__list--item .menudescription h3,
.menus .menu__list--item .menudescription p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menus .menu__list--item .price {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-weight: bold;
}
.menus .menu__list--item .check {
  background-color: #99e2d0;
  border-radius: 0 1rem 1rem 0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.menus .menu__list--item:hover .check {
  margin-right: 0;
}
.menus .menu__list--item:hover .check i {
  animation: check-spin 500ms ease-in-out;
}
.menus .menu__list--item i {
  font-size: 1.2rem;
  background: white;
  color: #99e2d0;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: grid;
  place-items: center;
}

.shopbutton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopbutton button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  transition: all 150ms ease-in-out;
  color: white;
  font-weight: normal;
  font-size: medium;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  margin-bottom: 3rem;
  margin-bottom: 13%;
}
.shopbutton button:hover {
  opacity: 0.9;
  box-shadow: 0px 3px 9px 2px rgba(0, 0, 0, 0.28);
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
