
.banniere img {
    max-width: 100%;
    width: 100%;
    max-height: 32rem;
    object-fit: cover;
}


.menus {
    border-radius: 2rem 2rem 0 0;
    margin-top: -4rem;
    margin-left: auto;
    margin-right: auto;
    background-color: $color-lightgrey;
    position: relative;
    max-width: 1440px;
    &__titrerestaurant {
        position: relative;
        margin-bottom: 2rem;
        & h1 {
            font-size: 1.5em;
            padding-top: 2rem;
            margin-left: 1rem;
        }
        .coeur {
            position: absolute;
            font-size: 2rem;
            right: 2rem;
            top: 50%;
            cursor: pointer;
        }
        .fa-solid {
            @include gradient;
            @include transition;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;
        &:hover {
            opacity: 1;
            transform: scale(1.1);
            }
        }
    }
    & .menu {
        @media (min-width: $breakpoint) {
            flex-direction: row;
        }
        background-color: $color-lightgrey;
        gap: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__list {
            gap: 1rem;
            width: 100%;
            &--item {
                @include shadow;
                display: flex;
                background-color: white;
                border-radius: 1rem;
                margin-bottom: 1rem;
                overflow: hidden;
                & .menudescription {
                    margin: 1rem;
                }
                & .price {
                    margin-left: auto;
                    margin-top: auto;
                    margin-bottom: 1rem;
                    margin-right: 1rem;
                    font-weight: bold;
                }
                & .check {
                    background-color: $color-tertiary;
                    border-radius: 0 1rem 1rem 0;
                    margin-right: -4rem;
                    width: 4rem;
                    transition: margin-right 0.5s ease-out;
                    display: grid;
                    place-items: center;
                }
                &:hover .check {
                    margin-right: 0;
                }
                & i {
                    font-size: 1.2rem;
                    background: white;
                    color: $color-tertiary;
                    border-radius: 50%;
                    width: 1.5rem;
                    height: 1.5rem;
                    display: grid;
                    place-items: center;
                }
            }
        }
    }
}