.restaurantexplorer {
    text-align: center;
    background-color: #fafafa;
    padding: 1rem;
    & h2 {
        margin-top: 2rem;
        font-size: 1.7rem;
    }
    & p {
        font-size: 1.3rem;
        font-weight: lighter;
        margin-bottom: 1.5rem;
    }
    & button {
        @include button;
    }
}