.restaurantexplorer {
    text-align: center;
    background-color: #fafafa;
    padding: 1rem;
    & h2 {
        margin-top: 2rem;
        font-size: 1.7rem;
    }
    & p {
        font-size: 1.3rem;
        font-weight: lighter;
        margin-bottom: 0.5rem;
    }
    & button {
        background-image: linear-gradient($color-secondary, $color-primary);
        color: white;
        font-weight: normal;
        font-size: medium;
        padding: 1rem;
        border: none;
        border-radius: 2rem;
        cursor: pointer;
        margin-bottom: 3rem;
        @include shadow;
        &:hover {
            @include opacityshadow;
        }
    }
}