.fonctionnement {
    max-width: 1440px;
    margin: auto;
    counter-reset: tuto;
    padding: 0 1rem;
    padding-bottom: 1rem;
    & h2 {
        margin-top: 3rem;
    }
    & ol {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 10px;
        @media (min-width: $breakpoint) {
            flex-direction: row;
        }
    }
    & li {
        position: relative;
        background-color: $color-lightgrey;
        padding: 1.5rem 2rem;
        flex-grow: 1;
        border-radius: 1rem;
        list-style-type: none;
        @include shadow;
        @include transition;
        &:hover {
            @include opacityshadow;
            background-color: lighten($color-primary, 30%);
        }
        & i.fa-solid {
            color: grey;
            margin-right: 1rem;
        }
        &::before {
            content: counter(tuto);
            counter-increment: tuto;
            display: grid;
            place-items: center;
            position: absolute;
            left: -12px;
            color: #fff;
            background-color: $color-primary;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
        }
    }
}