h3, p {
    margin: 0;
}

.restaurants {
    background-color: $color-lightgrey;
    padding: 0 1rem;
    padding-bottom: 2rem;
    & h2 {
        padding-top: 3rem;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        .new {
            position: relative;
            &::before {
                content: "Nouveau";
                display: grid;
                place-items: center;
                position: absolute;
                height: 2.2rem;
                width: 5rem;
                background-color: $color-tertiary;
                color: darken($color-tertiary, 50%);
                right: 1rem;
                top: 1rem;
            }
        }
    }
    .card {
        @media (min-width: $breakpoint) {
            flex-grow: 1;
            width: 45%;
        }
        flex-grow: 1;
        border-radius: 1rem;
        background-color: white;
        &__img {
                height: 12rem;
                width: 100%;
                object-fit: cover;
                min-width: 30rem;
                border-radius: 1rem 1rem 0 0;
        }
        &__description {
            position: relative;
            h3 {
                padding-top: 0.6rem;
                padding-left: 0.5rem;
            }
            p {
                margin-top: 0.4rem;
                margin-left: 0.5rem;
                margin-bottom: 1rem;
            }
            i {
                font-size: 2rem;
                position: absolute;
                right: 1rem;
                top: 1rem;
            }
        }
    }
}