h3, p {
    margin: 0;
}

.restaurants {
    background-color: $color-lightgrey;
    padding: 0 1rem;
    padding-bottom: 4rem;
    &__global {
        margin: auto;
        max-width: 1440px;
    }
    & h2 {
        padding-top: 3rem;
    }
    &__cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        @media (min-width: $breakpoint) {
            gap: 3rem;
        }
        .new {
            position: relative;
            &::before {
                content: "Nouveau";
                display: grid;
                place-items: center;
                position: absolute;
                height: 2.2rem;
                width: 5rem;
                background-color: $color-tertiary;
                color: darken($color-tertiary, 50%);
                right: 1rem;
                top: 1rem;
            }
        }
    }
    .card {
        @media (min-width: $breakpoint) {
            flex-direction: row;
            flex-grow: 1;
            width: 45%;
        }
        @include shadow;
        @include transition;
        flex-grow: 1;
        flex-direction: column;
        width: 100%;
        border-radius: 1rem;
        background-color: white;
        &:hover {
            @include opacityshadow
        }
        &__img {
                height: 12rem;
                width: 100%;
                object-fit: cover;
                border-radius: 1rem 1rem 0 0;
        }
        &__description {
            position: relative;
            h3 {
                padding-top: 0.6rem;
                padding-left: 0.5rem;
            }
            p {
                margin-top: 0.4rem;
                margin-left: 0.5rem;
                margin-bottom: 1rem;
            }
            .coeur {
                position: absolute;
                font-size: 2rem;
                right: 1rem;
                top: 30%;
            }
            .fa-solid {
                @include gradient;
                @include transition;
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                &:hover {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }
    }
}